<h1><%= @ad.title %></h1>

<p><strong><%= @ad.category %></strong></p>
<p><%= @ad.description %></p>

<hr>

<p><%= @ad.localization %></p>
<p>tel. <%= @ad.phone %></p>
<p>Cena: <%= @ad.price.to_i %></p>

<p><%= image_tag(@ad.picture.url(:medium)) %></p>

<br />

<p><%= link_to "Edycja ogłoszenia", edit_ad_path %></p>