<div class="row">
  <div class="col-xs-6 col-md-8">
    <%= image_tag(@ad.picture.url(:big)) %>
    <h2><%= @ad.title %></h2>
    <%= @ad.localization %> | Dodane o <%= @ad.created_at.strftime("%H:%M, %d %B %Y") %>, ID ogłoszenia: <%= @ad.id %> <% if @ad.user == current_user %> | <%= link_to "Edytuj", edit_ad_path %> <% end %>
    <br />
    <br />
    <p><%= @ad.description %></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <h3><strong><%= @ad.price.to_i %> zł</strong></h3>
      <h6><%= @ad.to_negotiation ? 'Do negocjacji' : '' %></h6>
      <img src="https://dummyimage.com/350x200/f4f4f4/000000.png&text=tablica" alt="...">
      <div class="caption">
        <p>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @ad.localization %>
        </p>
        <p>
          <h3><%= link_to "#{@ad.user.email}", user_path(@user) %></h3>
        </p>
        <p>Na Tablicy od <%= @ad.user.created_at.strftime("%b %Y") %></p>
        <br />
        <p>
          <%= link_to "Ogłoszenia użytkownika", user_path(@user), class: "btn btn-default" %>
        </p>
      </div>
    </div>
  </div>
</div>