<div class="row">
  <div class="col-xs-6 col-md-8">
    <%= image_tag(@ad.picture.url(:original)) %>
    <h2><%= @ad.title %></h2>
    <%= @ad.localization %> | Dodane o <%= @ad.created_at.strftime("%H:%M, %d %B %Y") %>, ID ogłoszenia: <%= @ad.id %>
    <br />
    <br />
    <p><%= @ad.description %></p>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <h3><strong><%= @ad.price.to_i %> zł</strong></h3>
      <img src="https://dummyimage.com/350x200/f4f4f4/000000.png&text=tablica" alt="...">
      <div class="caption">
        <p>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @ad.localization %>
        </p>
        <p>
          <h3><%= link_to "#{@ad.user.email}", root_path %></h3>
        </p>
        <p>Na Tablicy od <%= @ad.user.created_at.strftime("%b %Y") %></p>
        <br />
        <p>
          <a href="#" class="btn btn-default" role="button">Ogłoszenia użytkownika</a>
        </p>
      </div>
    </div>
  </div>
</div>






<!-- 
<h1><%= @ad.title %></h1>

<p><strong><%= @ad.category %></strong></p>
<p><%= @ad.description %></p>

<hr>

<p><%= @ad.localization %></p>
<p>tel. <%= @ad.phone %></p>
<p>Cena: <%= @ad.price.to_i %></p>

<p><%= image_tag(@ad.picture.url(:big)) %></p>

<br />

<p><%= link_to "Edycja ogłoszenia", edit_ad_path %></p> -->