<% if @user == current_user %>
<h2>Witaj <%= @user.email %>!</h2>
<p>Liczba Twoich ogłoszeń: <%= @ads.count %></p>
<% else %>
<h2>Ogłoszenia użytkownika <%= @user.email %></h2>
<p>Liczba ogłoszeń: <%= @ads.count %></p>
<% end %>

<%= render '/common_files/ads_list' %>